.blog-header {
	line-height: 1; border-bottom-color: rgb(229, 229, 229); border-bottom-width: 1px; border-bottom-style: solid;
}
.blog-header-logo {
	font-family: Microsoft YaHei, Georgia, "Times New Roman", serif; font-size: 2.25rem;
}
.blog-header-logo:hover {
	text-decoration: none;
}
h1 {
	font-family: Microsoft YaHei, Georgia, "Times New Roman", serif;
}
h2 {
	font-family: Microsoft YaHei, Georgia, "Times New Roman", serif;
}
h3 {
	font-family: Microsoft YaHei, Georgia, "Times New Roman", serif;
}
h4 {
	font-family: Microsoft YaHei, Georgia, "Times New Roman", serif;
}
h5 {
	font-family: Microsoft YaHei, Georgia, "Times New Roman", serif;
}
h6 {
	font-family: Microsoft YaHei, Georgia, "Times New Roman", serif;
}
.display-4 {
	font-size: 2.5rem;
}
@media all and (min-width:768px)
{
.display-4 {
	font-size: 3rem;
}
}
.nav-scroller {
	height: 2.75rem; position: relative; z-index: 2; -ms-overflow-y: hidden;
}
.nav-scroller .nav {
	text-align: center; padding-bottom: 1rem; margin-top: -1px; display: flex; white-space: nowrap; -ms-overflow-x: auto; flex-wrap: nowrap; -webkit-overflow-scrolling: touch;
}
.nav-scroller .nav-link {
	padding-top: 0.75rem; padding-bottom: 0.75rem; font-size: 0.87rem;
}
/*
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}*/

.card-img-right {
	border-radius: 0px 3px 3px 0px; height: 100%;
}
.card-text-hide {
    height: 70px;
    overflow: hidden; 
    text-overflow: ellipsis;
    word-break: break-all;
}
.flex-auto {
	flex:0 0 auto; -webkit-box-flex: 0;
}
.h-250 {
	height: 250px;
}
@media all and (min-width:768px)
{
.h-md-250 {
	height: 250px;
}
}
.border-top {
	border-top-color: rgb(229, 229, 229); border-top-width: 1px; border-top-style: solid;
}
.border-bottom {
	border-bottom-color: rgb(229, 229, 229); border-bottom-width: 1px; border-bottom-style: solid;
}
.box-shadow {
	box-shadow: 0px 0.25rem 0.75rem rgba(0,0,0,0.05);
}
.blog-title {
	font-size: 2rem; font-weight: 400; margin-bottom: 0px;
}
.blog-description {
	color: rgb(153, 153, 153); font-size: 1.1rem;
}
@media all and (min-width:40em)
{
.blog-title {
	font-size: 3.5rem;
}
}
.blog-pagination {
	margin-bottom: 4rem;
}
.blog-pagination > .btn {
	border-radius: 2rem;
}
.blog-post {
	margin-bottom: 4rem;
}
.blog-post-title {
	font-size: 2.5rem; margin-bottom: 0.25rem;
}
.blog-post-meta {
	color: rgb(153, 153, 153); margin-bottom: 1.25rem;
}
.blog-footer {
	padding: 2.5rem 0px; text-align: center; color: rgb(153, 153, 153); border-top-color: rgb(229, 229, 229); border-top-width: 0.05rem; border-top-style: solid; background-color: rgb(249, 249, 249);
}
.blog-footer p:last-child {
	margin-bottom: 0px;
}

/* phone-box */
.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -20%;
  width: 150px;
  height: 280px;
  background-color: #333;
  border-radius: 15px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 45%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(255, 255, 255, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

/* self-made */
.btn-nav {
	background-color:white;
    border-color:white;
	box-shadow:white;
}