/* CSS Document */

body {
  font-size: 20px;
  color: #212529;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}

a {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  text-overflow:ellipsis;
}
a:focus, a:hover {
  color:lightgray;
}


.sidebar a,a:hover{
    text-decoration: none;
}

.sidebar a {
	color: #696969;
}
	
.sidebar a:hover {
  text-decoration: none;
  color: lightgrey;
}

.list_menu>.btngroups>.btn{
	padding-left:20px;
	line-height:2rem;
	border-left:3px solid transparent;
	color:#656567;
	cursor:pointer;
}

/* header from clean-blog.css*/
header.masthead {
  /*margin-bottom: 60px;*/
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 200px 0 150px;
  color: white;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0;
  }
}

header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
  }
}

header.masthead .post-heading h1 {
  font-size: 70px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

header.masthead .post-heading .subheading {
  font-size: 24px;
  /*font-weight: 600;*/
  margin: 30px 0 30px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  /*font-style: italic;*/
  font-family: 'Lora', 'Times New Roman', serif;
}

header.masthead .post-heading .meta a {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 55px;
  }
  header.masthead .post-heading .subheading {
    font-size: 30px;
  }
}

/* post */
.post-preview > a {
  color: #212529;
}

.post-preview > a:focus, .post-preview > a:hover {
  text-decoration: none;
  color: lightgrey;
}

.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.post-preview > a > .post-subtitle {
  font-weight: 300;
  margin: 0 0 20px;
}

.post-preview > .post-meta {
  font-size: 18px;
  margin-top: 0;
  color:gray;
}

.post-preview > .post-meta > a {
  text-decoration: none;
  color: black;
}

.post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
  text-decoration: underline;
  color: lightslategray;
}

@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}

/* blog contents */
blockquote {
  /*font-style: italic;*/
  color: #868e96;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.section-heading.h3 {
  font-size: 30px;
  margin-top: 30px;
}

.section-heading.h5 {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.caption {
    font-size: 14px;
    /*font-style: italic;*/
    display: block;
    margin: 0;
    /*padding: 10px;*/
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.img-fluid {
  margin-left: auto; 
  margin-right:auto; 
  display:block;
  margin-top: 10px;
  margin-bottom:10px;
  border-radius:5px;
  /*box-shadow: 0 0 10px black;*/
  max-width: 100%;
  height: auto;
  /*vertical-align: middle;
  border-style: none;*/
}

/* wiz-tag*/
.wiz_toc_layer {
    background-color:rgba(250,250,250,1.00);
    padding: 20px 25px;
    word-break: break-word;
	border-radius:15px;
	box-shadow: 0 0 10px rgba(250,250,250,1.00);
}

.wiz_toc {
    text-decoration: none;
    display: inline-block;
	font-size: 20px;
    /*line-height: 27px;*/
}
.wiz_toc:hover{
    text-decoration: underline;
}
.wiz_toc.h1 {
    margin-left: 0;
}
.wiz_toc.h2 {
    margin-left: 10px;
}
.wiz_toc.h3 {
    margin-left: 20px;
}
.wiz_toc.h4 {
    margin-left: 30px;
}
.wiz_toc.h5 {
    margin-left: 40px;
}
.wiz_toc.h6 {
    margin-left: 50px;
}

code {
	background: #272822; 
	color: #f8f8f2;
	border-radius:2px;
	box-shadow: 0 0 5px black;
}
.codeblock {
	margin-top:15px;
	margin-bottom: 15px;
	display:block;
	overflow-y:hidden;
	overflow-x:auto;
	border-radius:5px;
	box-shadow: 0 0 10px black;
	/*	word-wrap: break-word;
	word-break: break-all;*/
	white-space:nowrap;
}

/* comment */
cm {
	color: greenyellow;
	font-style: normal;
}
kbd {
	color:gold;
}
samp {
	color:skyblue;
}
var {
	color: hotpink;
	font-style:normal;
}

    