/* CSS Document */
/* ==================== page_logos ==================== */
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-music:before {
    content: "\f001"}
.fa-expand:before {
    content: "\f065"}
.fa-step-backward:before {
    content: "\f048"}
.fa-step-forward:before {
    content: "\f051"}
.fa-play:before {
    content: "\f04b"}
.fa-pause:before {
    content: "\f04c"}
.fa-stop:before {
    content: "\f04d"}
.fa-th-list:before {
    content: "\f00b"}
.fa-play-circle-o:before {
    content: "\f01d"}
.fa-share-square-o:before {
    content: "\f045"}
.fa-download:before {
    content: "\f019"}
.fa-heart-o:before {
    content: "\f08a"}
.fa-plus:before {
    content: "\f067"}
.fa-compress:before {
    content: "\f066"}
.fa-angle-left:before {
    content: "\f104"}
.fa-folder:before {
    content: "\f07b"}
/* ==================== Content ==================== */
.page_content {
  padding-bottom: 100px;
}

/* -------------------- song_list -------------------- */
.song_list{
  height:calc(100vh - 250px);
  border-right: 1px solid #dadadc;
  overflow-y:auto;
}
@media (max-width:768px) {
  .song_list{
    height:auto;
    border-left: 1px solid #dadadc;
    overflow:hidden;
  }
}

.song_list>.list{
	/*margin-bottom:10px;*/
  border-bottom: 1px solid #dadadc;
}
.list>.title{
	padding-left:10px;
	line-height:2rem;
	color:#8a8a8c;
	position:relative;
}
.list>.btngroups>.btn{
	/*padding-left:10px;*/
	line-height:2rem;
	border-left:3px solid transparent;
	color:#656567;
	cursor:pointer;
}
.list>.btngroups>.btn:hover{
  border-coler:lightgray;
  background-color:#e3e3e5;
	color:#111;
}
.list>.btngroups>.btn.active{ /*, .btn:active*/
	border-color:lightgray;
	background-color:#e3e3e5;
	color:#111;
}

/* -------------------- switch tabs -------------------- */
.mytabs{
  display:none;
}

/* -------------------- song_list -------------------- */
/*@media (max-width:768px) {
  .list_container>.list_info {
    padding-left: 30px;
  }
}*/
.list_container>.list_info>.list_img {
  min-width: 150px;
  padding-bottom: 5px;
}

.list_container>.list_info>.list_detail {
}
.list_container>.list_info>.list_detail>.detail_name>.listtag{
	display:inline-block;
	padding:5px 10px;
	background-color:darkgray;
	color:#f1f1f1;
}
.list_container>.list_info>.list_detail>.detail_name>.listname{
	margin:0 5px;
	font-size:1.2rem;
}

.list_container>.list_info>.list_detail>.detail_discribe{
  font-size:15px;
  max-width: auto;
}
.list_container>.list_info>.list_detail>.detail_btns>.btn{
	display:inline-block;
	margin:0 5px;
	padding:5px 10px;
	border:1px solid #dadadc;
	border-radius:5px;
	cursor:pointer;
}
.list_container>.list_info>.list_detail>.detail_btns>.btn.playall{
	margin-right:0;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
}
.list_container>.list_info>.list_detail>.detail_btns>.btn.plus{
	margin-left:0;
	border-left:none;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
}
.list_container>.list_info>.list_detail>.detail_btns>.btn:hover{
	background-color:#f5f5f7;
}
.list_container>.list_info>.list_detail>.detail_btns>span>i{
  color:gray;
}

.list_container>.music_list{
  margin-top: 15px;
  border-top: 1px solid #dadadc;
}
.music_list>table{
	width:100%;
	text-align:left;
	vertical-align:middle;
	background-color:#fafafa;
	color:#313131;
}
.music_list>table td,
.music_list>table th{
	/*padding-left:10px;*/
	max-width:30vw;
	height:2rem;
	font-weight:normal;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.music_list>table td>i{
  color:gray;
}
.music_list>table th{
	border-right:1px solid #e0e0e0;
	box-sizing:border-box;
	color:#6d7172;
}
.music_list>table th:last-of-type{
	border:none;
}
.music_list>table td>img{
	width:100%;
	height:auto;
}
.music_list>table>tbody>tr:nth-of-type(odd){
	background-color:#f5f5f7;
}
.music_list>table>tbody>tr:hover,
.music_list>table>tbody>tr.active{
	background-color:#e3e3e5;
}
.music_list>table>tbody>tr>td:first-of-type{
	/*padding-right:5px;*/
	text-align:right;
	color:#9c9c9c;
}
.music_list>table>tbody>tr>td.index.active{
	font-size:0.8rem;
	color:#c52f30;
}

/* -------------------- now_play -------------------- */
.bg_blur{
  position:fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  height:calc(100vh - 250px);
  padding-bottom: 100px;
  background-color:#fff;
  background-repeat:no-repeat;
  background-position:center center;
  background-size: cover;
  
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.compressbtn{
  position:absolute;
  right:0;
  /*top:0; left:90%;*/
	padding:5px 10px;
	border:1px solid #dee2e3;
	border-radius:5px;
	font-size:1rem;
	background-color:#f8f9fb;
	cursor:pointer;
  z-index:1;
}

.title_section{
  border-bottom:1px solid #e0e0e0;
  background-color: white;
}
@media (max-width:768px) {
  .title_section> marquee{
    padding-left:40px;
    padding-right: 20px;
  }
}

.title_section>.info_song,
.title_section>.info_album{
	/*max-width:100%;*/
  margin-top: 10px;
	margin-bottom:10px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.title_section>.info_singer{
  font-size:1rem;
}

.title_section>.info_song>.songname{
	font-size:1.2rem;
}
@media (max-width:768px) {
  .title_section>.info_song>.songname{
    margin-left:50px;
  }
}
.title_section>.info_song>.label{
	display:inline-block;
	margin:0 6px;
	padding:2px;
	border:1px solid darkgray;
	color:darkgray;
}
.title_section>.info_song>.label>a:link,
.title_section>.info_song>.label>a:visited,
.title_section>.info_song>.label>a:hover{
  color:darkgray;
  text-decoration: none;
}
.title_section>.info_album>span{
	display:inline-block;
	margin-right:10px;	
}

.disc_section>.disc_arc{
	width:320px;
	height:320px;
	border-radius:50%;
	background-color:rgba(251, 251, 251, 0.08);
	background-image:url("../img/disc.png");
	background-repeat:no-repeat;
	background-position:center center;
	background-size:68%;
	border:3px solid rgba(251, 251, 251, 0.08);
	overflow:hidden;
}
.disc_section>.disc_arc>.poster{
	width:100%;
	height:100%;
	overflow:hidden;
}
.disc_section>.disc_arc>.poster>img{
	display:block;
	width:100%;
	height:100%;
}
.disc_section>.disc_needle{
	position:absolute;
  top:70px;
  left:45%;
  /*padding-top:-10px;*/
	/*top:-72px;left:30%;*/
	-webkit-transform:rotate(-40deg);
	transform:rotate(-40deg);
	transform-origin:16px 16px;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
  z-index:-1;
}
.disc_section>.disc_btns{
  postion:relative;
	/*position:absolute;*/
  margin-top:70px;
  bottom:0;left:0;
	width:100%;
}
.disc_section>.disc_btns>.btn{
	display:inline-block;
	margin:0 5px;
	padding:5px 10px;
	border:1px solid #c1c5c6;
	border-radius:5px;
	background-color:#f6fafb;
	cursor:pointer;
}
.disc_section>.disc_btns>.btn:hover{
	background-color:#f5f5f7;
}
/* animation */
.disc_section>.disc_needle.play{
	-webkit-transform:rotate(-8deg);
	transform:rotate(-8deg);
}
.disc_section>.disc_arc{
  position:relative;
  top:50px;
	-webkit-animation:rotateARC linear 20s infinite normal;
	animation:rotateARC linear 20s infinite normal;
	-webkit-animation-play-state:paused;
	animation-play-state:paused;
  z-index: -1;
}
@keyframes rotateARC{
	0%{
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}
/* -------------------- play_list -------------------- */

/* ==================== footer ==================== */
.progress {
  border-top: 1px solid #dadadc;
  border-bottom: 1px solid #dadadc;
  height:20px;
}

.control_panel {
  width:100%;
  height:80px;
  max-height: 80px;
}

.control_panel>.poster {
  padding-top: 5px;
  float:left;
  position:relative;
	overflow:hidden;
}
.poster>img{
	width:70px;
	height:70px;
  border-radius:5px;
}
.poster>.poster_hoverback{
	display:none;
	position:absolute;
  border-radius:5px;
	top:5px;left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	color:rgba(255,255,255,0.65);
	/*cursor:pointer;*/
}
.poster>.poster_hoverback>.fa{
	position:relative;
	top:30%;left:20%;
	-webkit-transform:translate(-30%,-20%);
	transform:translate(-30%,-20%);
	font-size:3rem;
	font-weight:lighter;
}
.poster:hover>.poster_hoverback{
	display:block;
}

.control_panel>.info {
  max-width: 30vw;
  float:left;
  padding-top: 10px;
  padding-left: 20px;
}
.info> p {
  font-size:20px;
  line-height:20px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.control_panel>.control_btn{
  float:right;
  padding-top: 15px;
}
.control_btn>.btn{
  display:inline-block;
  font-size:1.5rem;
  width:50px;
	height:50px;
	margin-left:15px;
	border-radius:50%;
	position:relative;
	/*top:50%;left:50%;*/
	/*-webkit-transform:translate(0,-50%);
	transform:translate(0,-50%);*/
	background-color:gray;
	color:#f7f7f7;
	/*cursor:pointer;*/
}


/*
.page_list>.playlist_smallwindow{
	position:absolute;
	bottom:60px;left:0;
	width:220px;
	height:60px;
	border:1px solid #dadadc;
	border-left:none;
	box-sizing:border-box;
	background-color:#f6f6f8;
	z-index:6;
}
.playlist_smallwindow>.poster{
	float:left;
	width:30%;
	height:100%;
	position:relative;
	overflow:hidden;
}
.poster>img{
	width:45;
	height:45;
}
.poster>.poster_hoverback{
	display:none;
	position:absolute;
	top:0;left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	color:rgba(255,255,255,0.65);
	cursor:pointer;
}
.poster>.poster_hoverback>.fa{
	position:relative;
	top:50%;left:50%;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	font-size:1.8rem;
	font-weight:lighter;
}
.poster:hover>.poster_hoverback{
	display:block;
}
.playlist_smallwindow>.info{
	float:left;
	width:55%;
}
.playlist_smallwindow>.info>p{
	margin:5px 10px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	cursor:pointer;
}
.playlist_smallwindow>.btngroups{
	position:absolute;
	top:0;right:15px;
	height:100%;
}
.playlist_smallwindow>.btngroups>.btn{
	height:50%;
	text-align:center;
	cursor:pointer;
}
.playlist_smallwindow>.btngroups>.btn>.fa{
	position:relative;
	top:50%;left:0;
	-webkit-transform:translate(0,-50%);
	transform:translate(0,-50%);
	font-size:0.8rem;
}*/


/* ==================== history style ====================
.page_list{
	width:220px;
	height:100%;
	padding:60px 0 120px 0;
  top:0;left:0
  border-right:1px solid #dadadc;
  position:absolute;
	background-color:white; #f5f5f7
	box-sizing:border-box;
  /*border-radius:5px;
  box-shadow: 0 0 2px dimgray;
}

.page_list>.list_container{
	height:100%;
	overflow-y:scroll;
}